@keyframes padlock-opening {
  0% {
    transform: translateY(0) rotate3d(0,0.5,0,0);
  }
  50% {
    transform: translateY(40px) rotate3d(0,0.5,0,0);
  }
  100% {
    transform: translateY(40px) rotate3d(0,0.5,0,180deg);
  }
}

@keyframes padlock-locking {
  0% {
    transform: translateY(40px) rotate3d(0,0.5,0,180deg);
  }
  50% {
    transform: translateY(40px) rotate3d(0,0.5,0,0);
  }
  100% {
    transform: translateY(0) rotate3d(0,0.5,0,0);
  }
}

.padlock-element-closing {
  animation: padlock-locking 1.5s ease;
  animation-direction: normal;
  transform-origin: 90% 0;
  animation-fill-mode: forwards;
}

.padlock-element-opening {
  animation: padlock-opening 1.5s ease;
  animation-direction: normal;
  transform-origin: 90% 0;
  animation-fill-mode: forwards;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
}
